<template name="footer">
  <style>
  .weui-bar__item--on .weui-tabbar__label,.weui-bar__item--on i.fa{
    color: #1cbb7f !important;
  }
  </style>
  {{#if isDistributor}}
  <div class="weui-tabbar">
    <a href="/?s={{seller_id}}" class="weui-tabbar__item {{isCurr 'home'}}">
      <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-shouye"></i>
      </div>
      <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/categories/all?s={{seller_id}}" class="weui-tabbar__item {{isCurr 'categories'}}">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-fenlei"></i>
      </div>
      <p class="weui-tabbar__label">分类</p>
    </a>
    <a href="/myShop/{{userId}}" class="weui-tabbar__item {{isCurr 'myShop'}}">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-store"></i>
      </div>
      <p class="weui-tabbar__label">我的店铺</p>
    </a>
    <a href="/shopping?s={{seller_id}}" class="weui-tabbar__item {{isCurr 'shopping'}}">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-gouwuche"></i>
      </div>
      <p class="weui-tabbar__label">购物车</p>
    </a>
    <a href="/me?s={{seller_id}}" class="weui-tabbar__item {{isCurr 'me'}}">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-wo"></i>
      </div>
      <p class="weui-tabbar__label">我</p>
    </a>
  </div>
  {{else}}
  <div class="weui-tabbar">
    <a href="/shop/{{seller_id}}" class="weui-tabbar__item {{isCurr 'home'}}">
      <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-shouye"></i>
      </div>
      <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/categories/all?s={{seller_id}}" class="weui-tabbar__item {{isCurr 'categories'}}">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-fenlei"></i>
      </div>
      <p class="weui-tabbar__label">分类</p>
    </a>
    <a href="/shopping?s={{seller_id}}" class="weui-tabbar__item {{isCurr 'shopping'}}">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-gouwuche"></i>
      </div>
      <p class="weui-tabbar__label">购物车</p>
    </a>
    <a href="/me?s={{seller_id}}" class="weui-tabbar__item {{isCurr 'me'}}">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-wo"></i>
      </div>
      <p class="weui-tabbar__label">我</p>
    </a>
  </div>
  {{/if}}
</template>